divergent_gravity.aux
divergent_gravity.fdb_latexmk
divergent_gravity.fls
divergent_gravity.log
divergent_gravity.out
divergent_gravity.synctex.gz
divergent_gravity.bbl
divergent_gravity.bbl
divergent_gravity.blg
*.pdf
orcid.pdf
example.tex
sparc_cache
sparc_data
